<h2>ember-cli-event-calendar <small>by Roger Adams (twitter: @rogdev, github: @adamsrog)</small></h2>


<div class="container">
	<div class="half">
		{{event-calendar jsonData=events}}
	</div>
</div>
{{outlet}}
